## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
a=[4,8,15,16,23,42]
ser=pd.Series(a)
print(ser)
print(type(ser))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
<class 'pandas.core.series.Series'>

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd
a=[4,8,15,16,23,42,54,32,23,12]
ser=pd.Series(a)
print(ser)
print(type(ser))

0     4
1     8
2    15
3    16
4    23
5    42
6    54
7    32
8    23
9    12
dtype: int64
<class 'pandas.core.series.Series'>

## Q3. Create a Pandas DataFrame that contains the following data:
**Name    age    gender**

**Alice   25     female**

**Bob     30     male**

**Claire  27     female**

In [3]:
import pandas as pd
a=[['name','age','value'],['Alice',25,'female'],['Bob',30,'male'],['Claire',27,'female']]
df=pd.DataFrame(a)
print(df)
print(type(df))

        0    1       2
0    name  age   value
1   Alice   25  female
2     Bob   30    male
3  Claire   27  female
<class 'pandas.core.frame.DataFrame'>

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame is a two-dimensional, size-mutable, and labeled data structure with columns of potentially different types. It can be thought of as a dict-like container for Series objects .

A Series is a one-dimensional labeled array capable of holding data of any type.


In other words, a DataFrame is a table with rows and columns, where each column can be of a different data type, while a Series is a single column of data

In [4]:
import pandas as pd
a={'name':['Alice','Bob','Claire'],
   'age':[25,30,27],
   'gender':['f','m','f']}
df=pd.DataFrame(a)
print(df) 
print(type(df)) ###data frame

print(type(df['name']))##series

     name  age gender
0   Alice   25      f
1     Bob   30      m
2  Claire   27      f
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [5]:
## here are some common function used to manipulate data in pandas data frame
import pandas as pd
import lxml

a={'name':['Alice','Bob','Claire'],
   'age':[25,30,27],
   'gender':['f','m','f']}
df=pd.DataFrame(a)## it creates pandas dataframe
print(df)
print(df.columns)## it shows all the columns in dataframe 
df.to_csv('test01')## it creates .csv file with the data
df1=pd.read_csv('test01')## it extracts data from csv file 
print(df1)
##df2=pd.read_html('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

## it extracts tabular data from any website and convert it into list
##print(df2)

     name  age gender
0   Alice   25      f
1     Bob   30      m
2  Claire   27      f
Index(['name', 'age', 'gender'], dtype='object')
   Unnamed: 0    name  age gender
0           0   Alice   25      f
1           1     Bob   30      m
2           2  Claire   27      f


## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

A Series is a one-dimensional labeled array capable of holding data of any type .

A DataFrame is a two-dimensional, size-mutable, and labeled data structure with columns of potentially different types. It can be thought of as a dict-like container for Series objects .

A Panel is a three-dimensional data structure with axes representing samples, features, and items .

Therefore, DataFrame and Panel are mutable in nature because they can be modified after creation. On the other hand, Series is immutable in nature because once created, it cannot be modified .

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [6]:
import pandas as pd

# create three Series
name = pd.Series(['John', 'Jane', 'Sam'])
age = pd.Series([25, 30, 21])
gender = pd.Series(['M', 'F', 'M'])
salary=pd.Series([200000,400000,904030])

# create a DataFrame from the Series
df = pd.DataFrame({'name': name, 'age': age, 'gender': gender,'salary':salary})

print(df)

   name  age gender  salary
0  John   25      M  200000
1  Jane   30      F  400000
2   Sam   21      M  904030